SECRET_KEY=chave-secreta-padrao-para-dev-nao-use-em-prod
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,web

DB_HOST=db
DB_PORT=5433
DB_NAME=bibliotech
DB_USER=dalla
DB_PASSWORD=baguga123

POSTGRES_DB=bibliotech
POSTGRES_USER=dalla
POSTGRES_PASSWORD=baguga123

DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@bibliotech.com
DJANGO_SUPERUSER_PASSWORD=admin